<!DOCTYPE html>
<html>
<head>
  <title>
    <%= page_title %>
  </title>
  <%- include("partials/common-head") %>
</head>
<body>
  <%- include("partials/navbar") %>
  <%- include("partials/messages") %>
  <div class="grid place-items-center h-screen">
    <iframe width="100%" height="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.7198193959885!2d55.133895251498345!3d25.043580743980673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f132d18ce9a01%3A0x4a68a756d45c980f!2sDiscovery%20Gardens%2C%20Building%2049%20-%20Street%204%20-%20Jebel%20Ali%20Village%20-%20Discovery%20Gardens%20-%20Dubai%20-%20United%20Arab%20Emirates!5e0!3m2!1sen!2sin!4v1647165482481!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe>
  </div>
</body>
</html>