@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

header {
    margin: 0 auto;
    width: 431px;
}

.startClass {
    background: url("/img/zippy-bird-set.png") 0% 340px;
    padding: 1.2rem 0;
    margin: 0;
}

.score-container {
    display: flex;
    justify-content: space-between;
    padding: 8px 6px;
    background: #5EE270;
}